# Default values for bbctl.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# -- Passdown values from Big Bang
# These values are for the BigBang overrides
domain: dev.bigbang.mil

networkPolicies:
  enabled: false
  egress:
    definitions:
      private-registry:
        to:
          - ipBlock:
              cidr: "15.205.173.153/32"
        ports:
          - port: 443
            protocol: TCP
      bigbang-releases:
        to:
          - ipBlock:
              cidr: "15.200.176.128/28"
          - ipBlock:
              cidr: "15.200.28.240/28"
          - ipBlock:
              cidr: "108.175.48.0/22"
          - ipBlock:
              cidr: "108.175.56.0/22"
          - ipBlock:
              cidr: "136.18.0.0/23"
        ports:
          - port: 443
            protocol: TCP
    from:
      bbctl-bigbang-policy:
        to:
          definition:
            kubeAPI: true
      bbctl-bigbang-preflight:
        to:
          definition:
            kubeAPI: true
      bbctl-bigbang-status:
        to:
          definition:
            kubeAPI: true
      bbctl-bigbang-updater:
        to:
          definition:
            kubeAPI: true
            private-registry: true
            bigbang-releases: true
      bbctl-bigbang-violations:
        to:
          definition:
            kubeAPI: true
  additionalPolicies: []

istio:
  enabled: false

  sidecar:
    enabled: false
    outboundTrafficPolicyMode: "REGISTRY_ONLY"

  authorizationPolicies:
    enabled: false
    custom: []

  # Default peer authentication
  mtls:
    # STRICT = Allow only mutual TLS traffic
    # PERMISSIVE = Allow both plain text and mutual TLS traffic
    mode: STRICT

routes:
  outbound:
    bbctl:
      enabled: true
      hosts:
      - repo1.dso.mil
      - registry1.dso.mil
      - umbrella-bigbang-releases.s3-us-gov-west-1.amazonaws.com

monitoring:
  enabled: false

bbtests:
  enabled: false

image:
  repository: "registry1.dso.mil/ironbank/big-bang/bbctl"
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: 2.3.1

yqImage:
  repository: "registry1.dso.mil/ironbank/opensource/yq/yq"
  pullPolicy: Always
  tag: "4.50.1"

imagePullSecrets:
  - name: "private-registry"
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Annotations to add to all service accounts
  annotations: {}
  # The base name of the service account to use.
  # If not set, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext:
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi

nodeSelector: {}

tolerations: []

affinity: {}

credentialsFile:
  credentials:
  - uri: "registry1.dso.mil"
    username: ""
    password: ""
    email: ""
  - uri: "repo1.dso.mil"
    username: ""
    password: ""
    email: ""

baseConfig:
  bbctl-log-add-source: true
  bbctl-log-format: json
  bbctl-log-level: warn
  bbctl-log-output: stderr
  big-bang-repo: https://repo1.dso.mil/big-bang/bigbang/-/blob/master/
  big-bang-skip-auto-update: true
  # registry-override - List of docker image registry hostnames to use in commands that deploy images
  # Defaults to "registry1.dso.mil"
  registry-override: []
  output-config:
    format: json
    json-pretty-print: false
  # preflight-check.image - Image override including tag for the preflight check pod.
  # Defaults to registry1.dso.mil/ironbank/redhat/ubi/ubi9-minimal:9.6
  preflight-check:
    image: ""
  skip-update-check: true
  util-credential-helper:
    big-bang-credential-helper-credentials-file-path: "/home/bigbang/.bbctl/credentials.yaml"
    big-bang-credential-helper: "credentials-file"

baseLabels: {}

bigbangUpdater:
  enabled: true
  importDashboards: true
  schedule: "0 * * * *"
  bigbangReleaseName: "bigbang"
  bigbangReleaseNamespace: "bigbang"
  labels: {}
  config: {}
  podAnnotations: {}
  serviceAccount:
    # Specifies whether a service account should be created
    create: true
    # Annotations to add to the service account
    annotations: {}
    # The override name of the service account to use.
    # If not set and create is true, -bigbang-updater is appended to .Values.serviceAccount.name
    name: ""

bigbangStatus:
  enabled: true
  importDashboards: true
  schedule: "0 * * * *"
  bigbangReleaseName: "bigbang"
  bigbangReleaseNamespace: "bigbang"
  labels: {}
  config: {}
  podAnnotations: {}
  serviceAccount:
    # Specifies whether a service account should be created
    create: true
    # Annotations to add to the service account
    annotations: {}
    # The override name of the service account to use.
    # If not set and create is true, -bigbang-status is appended to .Values.serviceAccount.name
    name: ""

bigbangViolations:
  enabled: true
  importDashboards: true
  schedule: "0 * * * *"
  bigbangReleaseName: "bigbang"
  bigbangReleaseNamespace: "bigbang"
  labels: {}
  config: {}
  podAnnotations: {}
  serviceAccount:
    # Specifies whether a service account should be created
    create: true
    # Annotations to add to the service account
    annotations: {}
    # The override name of the service account to use.
    # If not set and create is true, -bigbang-violations is appended to .Values.serviceAccount.name
    name: ""

bigbangPreflight:
  enabled: true
  importDashboards: true
  schedule: "0 * * * *"
  bigbangReleaseName: "bigbang"
  bigbangReleaseNamespace: "bigbang"
  labels: {}
  config: {}
  podAnnotations: {}
  serviceAccount:
    # Specifies whether a service account should be created
    create: true
    # Annotations to add to the service account
    annotations: {}
    # The override name of the service account to use.
    # If not set and create is true, -bigbang-preflight is appended to .Values.serviceAccount.name
    name: ""

bigbangPolicy:
  enabled: true
  # Enforcer must be "gatekeeper" or "kyverno"
  importDashboards: true
  policyEnforcer: "kyverno"
  schedule: "0 * * * *"
  bigbangReleaseName: "bigbang"
  bigbangReleaseNamespace: "bigbang"
  labels: {}
  config: {}
  podAnnotations: {}
  serviceAccount:
    # Specifies whether a service account should be created
    create: true
    # Annotations to add to the service account
    annotations: {}
    # The override name of the service account to use.
    # If not set and create is true, -bigbang-policy is appended to .Values.serviceAccount.name
    name: ""
